<h1> List All Tasks </h1>

<ul>
  <% @tasks.each do |task| %>
    <li><input type="checkbox" <%= 'checked' if task.completed %>> <%= link_to task.title, task_path(task.id) %> <%= link_to "Delete Task", task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> </li>
  <% end %>
</ul>

<%= link_to  "Add New Task", tasks_new_path %>
